<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>SDN Project Firewall</title>
    <link href="/static/styles/bootstrap.min.css" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-static-top navbar-dark bg-inverse">
      <a class="navbar-brand" href="/">SDN Project</a>
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/functions">Network Functions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/odl">ODL Controller</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about">About</a>
        </li>
      </ul>
    </nav>

    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">OpenDaylight Firewall</h1>
        <p>This application makes use of Mininet and the OpenDaylight controller to blacklist IP addresses for vitrual hosts on a network.</p>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md1-2">
          <h2>Blacklisting</h2>
          <p>Set IP addresses that will be blocked from incoming or ourgoing traffic.</p>
          <p><a class="btn btn-secondary" href="/functions" role="button">View details &raquo;</a></p>
        </div>
      </div>
      <hr>
    </div>

    <script src="/static/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="/static/bootstrap.min.js"></script>
  </body>
</html>
